/.vscode/
/crash-reports/
/local/
/logs/
/options.txt
/usercache.json
/usernamecache.json
/saves/
/screenshots/
/shaderpacks/
/PCL/
/NFWC_mrqx_extra_pack.jar
/NFWC_mrqx_extra_pack.json
/modernfix/
/resourcepacks/
/rhino.local.properties
/emi.json
/TrashSlotSaveState.json
/lightspeed-cache/
/XaeroWaypoints*
/NFWC_mrqx_extra_pack
/quests_structures
/schematics
/fancymenu_data
/fancymenu_setups
/servers*
/config/
/defaultconfigs/
/patchouli_data.json
/hmclversion.cfg
/mods/*
